.menu {
    display: flex;
    align-items: center;
    height: 50px;
    background: #001529;
    padding: 0 20px;
}

.menuButton {
    margin: 0 10px;
    padding: 5px 10px;
    background: transparent;
    color: #a4a4a4;
    font-size: 14px;
    letter-spacing: 1.5px;
    border: none;
    border-bottom: medium solid #a4a4a4;
}
.menuButton.active{
    color: #ffecec;
    border-bottom: medium solid #3689d1;
}

